# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/FacilityService.iml
/gradlew
/gradlew.bat
/.idea/
/gradle/
/RoomService/RoomService.iml
/UserService/UserService.iml
/CalendarService/CalendarService.iml
/NotificationService/NotificationService.iml
/UserService/build/
/CalendarService/build/
/RoomService/build/
/NotificationService/.gradle/
/NotificationService/gradle/
/RoomService/.gradle/
/RoomService/gradle/
/RoomService/.gradle/
